<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Protected Page</a>
</nav>

<div class="text-center">
    <h2>This page is only visible to logged in users</h2>

    <form method="POST" action="/protected" onsubmit="triggerLoading()">
        <div class="form-group">
            <h2> Welcome to the protected page, choose a date here! </h2>

            <div class="text-center">
                <label for="enterDate">Date</label>
            </div>

            <input name="date" type="date" class="form-control" id="date" placeholder="Date">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" id="loading-button">Submit</button>
        </div>
    </form>
</div>

<script>
    function triggerLoading() {
        const loadingButton = document.getElementById("loading-button")
        loadingButton.setAttribute('disabled', true)
        loadingButton.innerHTML = `
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        `
        return true
    }
</script>